.App {
  text-align: center;
}

a{
  text-decoration: none;
}
a:active{
  color: black;
}
a:visited{
  color: white;
}
.App-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(0, 46, 98);
  animation-name: fade-to-blue;
  animation-duration: 4s;
}

.App-header button{
  color: white;
  font-size: larger;
  font-weight: bold;
  background-color: inherit;
  border: none;
  padding: 7px 20px;
  animation-name: fade-to-blue;
  animation-duration: 4s;
}

@keyframes fade-to-blue {
  from {background-color: rgb(0, 0, 0);}
  to {background-color: rgb(0, 46, 91);}
}

.App-header button:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.087);
}


.App-link {
  color: rgb(112, 76, 182);
}

.new-tweet-button{
  background-color: rgb(0, 46, 98);
}
